# Örnek Teorisi

In [1]:
import numpy as np

In [3]:
populasyon=np.random.randint(0,80,100000)

In [4]:
populasyon[0:10]

array([25,  8, 60, 36, 50, 54, 68, 18, 46, 39])

In [5]:
#örneklem çekme

In [6]:
np.random.seed(115)#aynı yapıdan aynı sonuç, örnek çekmeyi garantiye almaya yarar
orneklem=np.random.choice(a=populasyon,size=100)
orneklem[0:10]

array([20, 39, 52, 71, 29, 70, 41, 74, 43, 76])

In [7]:
orneklem.mean()

39.61

In [8]:
populasyon.mean()

39.59146

In [ ]:
#örneklem dağılımı

In [10]:
np.random.seed(10)
orneklem=np.random.choice(a=populasyon,size=100)
orneklem1=np.random.choice(a=populasyon,size=100)
orneklem2=np.random.choice(a=populasyon,size=100)
orneklem3=np.random.choice(a=populasyon,size=100)
orneklem4=np.random.choice(a=populasyon,size=100)
orneklem5=np.random.choice(a=populasyon,size=100)
orneklem6=np.random.choice(a=populasyon,size=100)
orneklem7=np.random.choice(a=populasyon,size=100)
orneklem8=np.random.choice(a=populasyon,size=100)
orneklem9=np.random.choice(a=populasyon,size=100)

In [11]:
(orneklem.mean()+orneklem1.mean()+orneklem2.mean()+orneklem3.mean()+orneklem4.mean()+orneklem5.mean()+orneklem6.mean()+orneklem7.mean()+orneklem8.mean()+orneklem9.mean())/10

40.040000000000006

In [12]:
orneklem5.mean()

40.53

In [13]:
orneklem6.mean()

40.31

# betimsel istatistikler

In [14]:
import seaborn as sns
tips=sns.load_dataset("tips")
df=tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [16]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [19]:
!pip install researchpy 
import researchpy as rp

Collecting researchpy
  Downloading researchpy-0.3.2-py3-none-any.whl (15 kB)
Requirement already satisfied: scipy in c:\users\kadosama\anaconda3\lib\site-packages (from researchpy) (1.6.2)
Requirement already satisfied: numpy in c:\users\kadosama\anaconda3\lib\site-packages (from researchpy) (1.20.1)
Requirement already satisfied: patsy in c:\users\kadosama\anaconda3\lib\site-packages (from researchpy) (0.5.1)
Requirement already satisfied: statsmodels in c:\users\kadosama\anaconda3\lib\site-packages (from researchpy) (0.12.2)
Requirement already satisfied: pandas in c:\users\kadosama\anaconda3\lib\site-packages (from researchpy) (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\kadosama\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\kadosama\anaconda3\lib\site-packages (from pandas->researchpy) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\kadosama\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->researchpy) (1.15.0)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.2

In [20]:
rp.summary_cont(df[["total_bill","tip","size"]])#constant(describe)

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [22]:
rp.summary_cat(df[["sex","smoker","day"]])#categorical(describe)

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [23]:
df[["tip","total_bill"]].cov()#koveryans(2 değişken arasındaki değişimi ifade eder)

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [25]:
df[["tip","total_bill"]].corr()#korelasyon(bunun şiddeti yönü )

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

# İş Uygulaması: Fiyat Stratejisi

In [26]:
fiyatlar=np.random.randint(10,110,1000)

In [27]:
fiyatlar.mean()

58.307

In [28]:
import statsmodels.stats.api as sms

In [29]:
sms.DescrStatsW(fiyatlar).tconfint_mean()#güven aralığı

(56.51496778883155, 60.099032211168456)

In [ ]:
#güven aralığı:olasilik hesaplamalari* kullanilirken, sample pool'dan gelen datanin mean degerinin tek bir sayi yerine bir aralik olarak verilmesi daha dogru olacaktir. mean'in bulundugu du$unulen bu araliga verilen addir confidence interval.(%95 güvenli)

# Olasılık Dağılımları

# Bernoulli Dağılımı

In [31]:
from scipy.stats import bernoulli

In [32]:
p=0.6 #yazı gelme olasılığı

In [33]:
rv=bernoulli(p)
rv.pmf(k=1)

0.6

In [36]:
rv.pmf(k=0)#tura gelme olasılığı

0.4

# Büyük Sayılar Yasası

bir rassal değişkenin uzun süredeki kararlılığını tanımlayan olasılık teorimidir.

In [41]:
rng=np.random.RandomState(123)#fazla yapıldığı takdirde işlemleri sabitlemek için kullanılır
for i in np.arange(1,21):
    deney_sayısı=2**i
    yazı_turalar=rng.randint(0,2,size=deney_sayısı)
    yazı_olasılıkları=np.mean(yazı_turalar)
    print("Atış Sayısı",deney_sayısı,"----","Yazı Olasılığı: %.2f" %(yazı_olasılıkları*100))

Atış Sayısı 2 ---- Yazı Olasılığı: 50.00
Atış Sayısı 4 ---- Yazı Olasılığı: 0.00
Atış Sayısı 8 ---- Yazı Olasılığı: 62.50
Atış Sayısı 16 ---- Yazı Olasılığı: 43.75
Atış Sayısı 32 ---- Yazı Olasılığı: 46.88
Atış Sayısı 64 ---- Yazı Olasılığı: 56.25
Atış Sayısı 128 ---- Yazı Olasılığı: 50.78
Atış Sayısı 256 ---- Yazı Olasılığı: 52.73
Atış Sayısı 512 ---- Yazı Olasılığı: 52.93
Atış Sayısı 1024 ---- Yazı Olasılığı: 50.20
Atış Sayısı 2048 ---- Yazı Olasılığı: 48.58
Atış Sayısı 4096 ---- Yazı Olasılığı: 49.49
Atış Sayısı 8192 ---- Yazı Olasılığı: 49.58
Atış Sayısı 16384 ---- Yazı Olasılığı: 49.96
Atış Sayısı 32768 ---- Yazı Olasılığı: 50.00
Atış Sayısı 65536 ---- Yazı Olasılığı: 49.68
Atış Sayısı 131072 ---- Yazı Olasılığı: 49.97
Atış Sayısı 262144 ---- Yazı Olasılığı: 50.13
Atış Sayısı 524288 ---- Yazı Olasılığı: 50.01
Atış Sayısı 1048576 ---- Yazı Olasılığı: 50.09

In [ ]:
#deney devam ettikçe ortaya konması beklenen olasılklar ortaya çıkar

# İş Uygulaması: Reklam Harcaması Optimizasyonu

In [42]:
from scipy.stats import binom

In [43]:
p=0.01

In [44]:
n=100

In [45]:
rv=binom(n,p)

In [46]:
rv.pmf(1)#pmf olasılık fonksuyonu pythondaki 1 kişinin görme olasılığı mesela burdaki

0.36972963764971983

In [47]:
rv.pmf(5)

0.0028977871237616114

In [48]:
rv.pmf(10)

7.006035693977161e-08

# İş Uygulaması: İlan Girişi Hata Olasılıkları

In [49]:
from scipy.stats import poisson

In [50]:
lambda_=0.1

In [51]:
rv=poisson(mu=lambda_)

In [53]:
print(rv.pmf(k=0))
print(rv.pmf(1))

0.9048374180359595
0.09048374180359597

# İş Uygulaması: Satış Olasılıklarının Hesaplanması

In [54]:
from scipy.stats import norm

In [ ]:
#90dan fazla olması

In [56]:
1-norm.cdf(90,80,5)#cdf sürekli olasılıklarda hesaplanan olasılık fonk u (kümülatif)

0.02275013194817921

In [ ]:
#1.argüman istenen değer 2.ort 3.std
#1-norm işin bi kısmındaki olasılığını hesapladık

In [ ]:
#73dan az olması

In [58]:
norm.cdf(73,80,5)

0.08075665923377107

In [ ]:
#85 90 arası olması

In [59]:
norm.cdf(90,80,5)-norm.cdf(85,80,5)

0.13590512198327787